*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    font-size:1.4rem;
    line-height:1.6;
    color:#333;
    overflow-x: hidden;
}
.container{
    margin:0 auto;
    max-width:800px;
    width: calc(100vw - 4em);
}
h1{
    font-size: calc(6vw + 1.5rem);
    text-align: center;
    color:lightblue;
}
.p{
    background-color: azure;
    text-align: center;
    font-style:italic;
    padding: 2em;
    margin: calc(-50vw + 50%);
    font-size: calc(1vw + 1.5rem)
}